{% extends 'default.html' %}

{% load i18n %}

{% block content %}
    <table>
        <tr>
            <td><h4><strong>{% trans 'Title' %}</strong></h4></td>
            <td><h4><strong>{% trans 'Date' %}</strong></h4></td>
            <td><h4><strong>{% trans 'Preview' %}</strong></h4></td>
        </tr>

        {% for post in categories %}
            <tr>
                <td><a class="nav-link" href="{% url 'post_detail' post.id %}">{{ post.title }}</a></td>
                <td>{{ post.dateCreation|date:'d.M.Y' }}</td>
                <td>{{ post.text|truncatewords:20 }}</td>
{#                <td>#}
{#                    {% for cat in post.postCategory.all %}#}
{#                        <a class="nav-link" href="{% url 'category_list' cat.id %}">{{ cat.name }}</a>#}
{#                    {% endfor %}#}
{#                </td>#}
            </tr>
        {% endfor %}
    </table>
{% endblock content %}