{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans 'Document' %}</title>
</head>
<body>
    <h2>{% trans 'All news in the last week in category' %} "{{ category }}" </h2>
    <p>
        {% trans 'Hello' %}, {{ name }}!<br>
        {% trans 'All news in the last week in your favorite category' %}!<br>
        {% for id, title in posts %}
            <a href="http://{{ site.domain }}:8000/news/{{ id }}">{{ title }}</a><br>
        {% endfor %}
    </p>
</body>
</html>