{% extends 'default.html' %}

{% load cache %}

{% block title %}
News Portal
{% endblock title %}

{% cache 60 * 5 content %}
{% block content %}
    <br>
    <h1><span style="color: #0000ff;">{{ time_now|date:'d M Y' }}</span></h1>
    <hr size="2">
    <h1>Welcome To The<br>News Portal</h1>
    <hr size="2">
    {% if not is_author %}
    <button><a class="nav-link" href="{% url 'account_upgrade' %}">
        <h4><strong>Join the authors!</strong></h4>
    </a></button>
    <hr size="1">
    {% endif %}
    <div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <h3><a class="nav-link" href="{% url 'post_list' %}"> All News </a></h3>
            </li>
            <li class="nav-item">
                <h3><a class="nav-link" href="{% url 'post_search' %}"> Search News </a></h3>
            </li>
            <li class="nav-item">
                <h3><a class="nav-link" href="{% url 'post_create' %}"> Create News </a></h3>
            </li>
            <li class="nav-item">
                <h3><a class="nav-link" href="{% url 'author_posts' %}"> Update News </a></h3>
            </li>
        </ul>
    </div>
{% endblock content %}
{% endcache %}